/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f0f0f0;
}

#app {
    text-align: center;
    max-width: 600px;
    width: 100%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#city-input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#map {
    height: 300px;
    margin-top: 20px;
}

#forecast-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.forecast-item {
    background: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #f8f8f8;
    border-top: 1px solid #e0e0e0;
}

footer p {
    margin: 0;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
